
nav {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    font-weight:800;
    background: rgb(50, 32, 142);
    height: 10vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
  }

#angry_man {
  color: rgb(50, 32, 142);
  position: absolute;
  right: 200px;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

#register_link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-style: italic;
  color: rgb(19, 3, 86);
}

#redirect_army_if_no_army {
  display: flex;
  font-style: italic;
  color: rgb(235, 15, 15);
}